<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="connectionStringConfig"
            connectionString="Data Source=mssql-18305-0.cloudclusters.net,18305;Initial Catalog=SuperJet;Persist Security Info=True;User ID=Admin;Password=***********"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>